<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Scratch</title>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<noscript id="deferred-styles">
  <%- include ("../css-and-js-include/css-include") %>
</noscript>
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">


  <div id="wrapper"style="display:none;">
    <%- include ("../header-include/header-sidebar") %>
    <main id="page-content-wrapper">
    <%- include ("../header-include/header") %>


 
<section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="https://www.onlineshopwinner.com/images/mid-banner.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-white font-weight-bold textsize-xxl">Scratch for <span class="font-weight-bold text-uppercase">Prize</span></div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>
 <section class="bg-light section-100">
    <div class="text-center py-3">
        <h1 class="h2">Tap to scratch</h1>
        
      </div>
    <div class="containerscratch" id="scratch-container">
        <canvas class="canvas" id="scratch-canvas" width="300" height="190"></canvas>
        <div class="winner-box">
          <h2 class="blinker">WINNER!!</h2>
          <h3>Your code is:</h3>
          <h1><%=data[0]['info']['scratch code']%></h1>
        </div>
      </div>
    <div class="container">
      <div class="row">
        
      
        <div class="col-md-6 col-lg-4 mx-auto">
              
                <div class="">
            <div class="card-body p-lg-5">
         
                 
           
              <!-- <form>
                <input type="hidden" name="testcookie" value="1">
                <input type="hidden" name="rememberme" id="rememberme" value="1">
                <div class="form-group">
                    <input class="form-control" type="text" name="fname" placeholder="Enter your Scratch code">
            
                </div>
           
                <div class="form-group">
                  <button type="submit" value="Submit" class="btn btn-block btn-primary py-3">Submit</button>
                </div>
              </form> -->
              <form  >
                <div class="container">
                    <div class="row para-desc d-block mx-auto">
                        <div class="form-group">
                            <input class="form-control" type="number" id="number"  placeholder="">
                    
                        </div>
                   
                        <div class="form-group">
                          <button type="submit" id="btnsubmit" value="Submit" class="btn btn-block btn-primary py-3" onclick=submitData()>Submit</button>
                        </div>
            
                    </div>
                </div>
                </form>
               
                <!-- <script>
                    function submitData() {
                        var number = document.getElementById("number").value;
                        console.log(scratchcode);
                        window.open("/validate?scratchcode="+scratchcode)
                    }
                </script> -->
            </div>
          </div>
 
        </div>
      </div>
    </div>
    
 
</section>
<script>
 
    function validateForm() {
     var x = document.forms["myForm"]["fname"].value;
     if (x == "") {
       alert("Text must be filled out");
       return false;
     }
   }
   </script>


<%- include ("../footer-include/footer") %>
 
</main>
</div>
<%- include ("../css-and-js-include/script-include") %>








</body>

</html>